@inherits LayoutComponentBase

<main role="main">
    <div class="jumbotron" style="background-image: url(images/jumbotron.jpg); background-size: 100%;">
        <h1>&nbsp;</h1>
    </div>

    <div class="container">
        @Body
    </div>
</main>
